body {
  background-color: #808080;
  scroll-behavior: smooth;
  font-size: 62, 5%;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1e2834;
  height: 15vh;
  align-items: center;
}

.navbar {
  z-index: 1;
  height: 100%;
}
.navbar .container-fluid {
  background-color: #1e2834;
}
.navbar .navbar-toggler-icon {
  color: #ced1d5;
}
.navbar #navbarNav {
  background-color: #1e2834;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.navbar .navbar-nav a {
  color: #ced1d5;
}
.navbar .navbar-nav .nav-link {
  font-size: 1.7rem;
  font-weight: 500;
}
.navbar button {
  background-color: #ced1d5;
}
.navbar .collapse {
  z-index: 2;
}

.carousel .carousel-item img {
  height: 85vh;
}

#nosotros {
  padding-top: 6rem;
  padding-bottom: 4rem;
}
#nosotros h4 {
  animation-delay: 5s;
  animation-iteration-count: 1;
  padding-top: 2rem;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #1e2834;
  font-weight: 600;
  font-size: 2rem;
}
#nosotros img {
  padding-top: 2rem;
  width: 35rem;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.footer-grid-container {
  display: block;
  bottom: 0;
  width: 100%;
  background-color: #1e2834;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #ced1d5;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.footer-grid a {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #ced1d5;
}
.footer-grid img {
  height: auto;
  margin-bottom: 1rem;
}

.video-container {
  padding-bottom: 4rem;
}

.video {
  border: 1rem outset #1e2834;
  width: 80%;
  height: auto;
  margin-bottom: 4rem;
}

.caja {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #ced1d5;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background: #1e2834;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #ced1d5;
  max-width: 60%;
  margin: 0 auto;
}

.productos-grid {
  list-style: none;
  background-color: #1e2834;
  padding-top: 5rem;
}
.productos-grid li {
  margin-bottom: 5rem;
  margin: 0, 5rem;
}
.productos-grid ul {
  justify-content: space-between;
}
.productos-grid .ver-mas {
  margin-top: 3rem;
}
.productos-grid .ver-mas a {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ced1d5;
  background-color: #808080;
  text-decoration: none;
  border: 3px solid #1e2834;
  padding: 1rem;
  margin-bottom: 2rem;
}

.productos-list-grid a {
  text-decoration: none;
  color: #ced1d5;
}
.productos-list-grid .card {
  background-color: #808080;
  color: #ced1d5;
}
.productos-list-grid img {
  width: 100%;
  height: 20rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .video source {
    height: 15rem;
  }
}
@media (max-width: 800px) {
  .productos-list-grid img {
    height: 17rem;
  }
}
@media (max-width: 768px) {
  .map-container iframe {
    height: 15rem;
  }
}

/*# sourceMappingURL=style.css.map */
