body {
  background-color: #808080;
  scroll-behavior: smooth;
  font-size: 62, 5%;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1e2834;
  height: 15vh;
  align-items: center;
}

.navbar {
  z-index: 1;
  height: 100%;
}
.navbar .container-fluid {
  background-color: #1e2834;
}
.navbar .navbar-toggler-icon {
  color: #ced1d5;
}
.navbar #navbarNav {
  background-color: #1e2834;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.navbar .navbar-nav a {
  color: #ced1d5;
}
.navbar .navbar-nav .nav-link {
  font-size: 1.7rem;
  font-weight: 500;
}
.navbar .navbar-nav .nav-item:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.navbar .navbar-nav .nav-item {
  padding-right: 1rem;
}
.navbar button {
  background-color: #ced1d5;
}
.navbar .collapse {
  z-index: 2;
}
@media (max-width: 580px) {
  .navbar .navbar-brand {
    width: 85%;
  }
}
@media (max-width: 334px) {
  .navbar .navbar-brand {
    width: 82%;
  }
}

.carousel .carousel-item img {
  height: 85vh;
}

#nosotros {
  padding-top: 15rem;
  padding-bottom: 4rem;
}
#nosotros h4 {
  animation-delay: 5s;
  animation-iteration-count: 1;
  padding-top: 2rem;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #1e2834;
  font-weight: 600;
  font-size: 2rem;
}
#nosotros img {
  width: 23rem;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.footer-grid-container {
  bottom: 0;
  width: 100%;
  background-color: #1e2834;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #ced1d5;
  padding-top: 2rem;
  align-items: center;
  text-align: center;
}
.footer-grid-container .logo img {
  width: 35%;
  height: auto;
}
@media (max-width: 1200px) {
  .footer-grid-container .logo img {
    width: 60%;
    height: auto;
  }
}
@media (max-width: 600px) {
  .footer-grid-container .logo img {
    width: 100%;
    height: auto;
  }
}

.footer-grid img {
  height: auto;
  margin-bottom: 1rem;
}
.footer-grid .row a {
  color: #ced1d5;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.footer-grid .row .icon-imgs {
  height: 3rem;
  width: auto;
}

.video-container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.video-container video {
  width: 75%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.video-container .caja {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #ced1d5;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background: #1e2834;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #ced1d5;
  max-width: 60%;
  margin: 0 auto;
}
.video-container .col-12 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 500px) {
  .video-container video {
    width: 100%;
    height: auto;
  }
}
.map-container {
  width: 70%;
  padding-top: 3rem;
}
.map-container h3 {
  text-align: center;
  color: #1e2834;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: 1000;
  font-size: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.map-container .map {
  text-align: center;
  padding-bottom: 4rem;
}
.map-container .map iframe {
  width: 100%;
}
@media (max-width: 767px) {
  .map-container h3 {
    font-size: 3rem;
  }
}

.productos-grid {
  width: 100% !important;
  background-color: #1e2834;
  padding-top: 5rem;
}
.productos-grid li {
  margin-bottom: 5rem;
}
.productos-grid .ver-mas {
  margin-bottom: 3rem;
}
.productos-grid .ver-mas .btn {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.productos-grid .ver-mas .btn a {
  font-family: Arial, Helvetica, sans-serif;
  color: #ced1d5;
  font-size: 20px;
}
.productos-grid .row {
  padding-right: 0px;
  padding-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.productos-list-grid a {
  color: #ced1d5;
}
.productos-list-grid a p {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.5rem;
}
.productos-list-grid a h4 {
  font-size: 1.7rem;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
}
.productos-list-grid .card {
  background-color: #808080;
  color: #ced1d5;
}
.productos-list-grid img {
  width: 100%;
  height: 20rem;
}
.productos-list-grid .card:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.cartel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.cartel .card {
  align-items: center;
  text-align: center;
  width: 70%;
  background-color: #1e2834;
}
.cartel .card .card-header {
  color: rgba(255, 0, 0, 0.829);
  font-family: rgba(255, 0, 0, 0.829);
  font-size: 3rem;
  font-weight: 600;
}
.cartel .card .card-title {
  color: #ced1d5;
  font-family: #ced1d5;
  font-size: 2rem;
  font-weight: 500;
}
.cartel .card .card-text {
  color: #ced1d5;
  font-family: #ced1d5;
  font-size: 1.5rem;
  font-weight: 400;
}
.cartel .card .btn-primary {
  color: #ced1d5;
  font-family: #ced1d5;
  font-size: 1.5rem;
  font-weight: 400;
}

.productos-sec {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productos-sec .productos-grid-sec {
  justify-content: center;
}
.productos-sec .productos-grid-sec .card {
  margin: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.productos-sec .productos-grid-sec .card h4 {
  color: #1e2834;
  font-family: #1e2834;
  font-size: 2rem;
  font-weight: 600;
}
.productos-sec .productos-grid-sec .card p {
  color: #1e2834;
  font-family: #1e2834;
  font-size: 1.5rem;
  font-weight: 500;
}
.productos-sec .productos-grid-sec .card:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}
.productos-sec .productos-grid-sec .card-img-top {
  width: 100%;
  height: 15rem;
}

@media (max-width: 518px) {
  .productos-sec .row {
    display: block;
  }
}
.grid-container {
  width: 70%;
}
.grid-container .product-img img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.grid-container .product-text {
  padding: 3rem;
}
.grid-container .product-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: justify;
  font-weight: 550;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
