:root {
    --color-fondo: #808080;
    --fondo-logo: #1e2834;
    --palabras-claras: #ced1d5;
}

body {
    background-color: var(--color-fondo);
    scroll-behavior: smooth;
    min-height: 100vh;
    font-size: 62, 5%;
    /*para que un rem sea igual a 10px*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--fondo-logo);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}

header img {
    padding: 1rem;
    width: 100%;
    height: auto;
}

.navbar {
    margin-left: 0;
    display: flex;
    align-items: center;
}

.navbar-toggler-icon {
    color: var(--palabras-claras);
}

.navbar-toggler{
    border: var(--bs-border-width) solid var(--palabras-claras);
    color: var(--palabras-claras);
    background-color: #ced1d544;
}


.navbar .navbar-nav .nav-link {
    color: var(--palabras-claras);
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#nosotros {
    padding: 5rem;
}

.empleados-list-grid li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.video-container iframe {
    border: 1rem outset var(--fondo-logo);
}


/* Estilos para el contenedor del footer */
.footer-grid-container {
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--fondo-logo); 
    color: var(--palabras-claras);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
}

/* Estilos para los enlaces en el footer */
.footer-grid a {
    display: block;
    margin-bottom: 1rem; /* Espacio entre los enlaces */
    text-decoration: none;
    color: var(--palabras-claras);
    margin-top: 2rem;
}

/* Estilos para la imagen en el footer */
.footer-grid img {
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
    height: auto; /* Mantiene la relación de aspecto original de la imagen */
    margin-bottom: 1rem; /* Espacio entre la imagen y los enlaces */

}