$fondo: #808080; //backgrund color 1
$fondo-logo: #1e2834; //color2 bgc2
$palabras-claras: #ced1d5; //color1
$font-family_1: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
$font-family_2: Arial, Helvetica, sans-serif;