.footer-grid-container {
	display: block;
	bottom: 0;
	width: 100%;
	background-color: $fondo-logo;
	font-family: $font-family_1;
	color: $palabras-claras;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 1rem;
}
.footer-grid {
	a {
		display: block;
		margin-bottom: 1rem;
		text-decoration: none;
		color: $palabras-claras;
	}
	img {
		height: auto;
		margin-bottom: 1rem;
	}
}