header {
	background-color: $fondo-logo;
	height: 15vh;
	align-items: center;
}

.navbar {
	z-index: 1;
	height: 100%;
	.container-fluid {
		background-color: $fondo-logo;	
	}
	.navbar-toggler-icon {
		color: $palabras-claras;
	}
	#navbarNav {
		background-color: $fondo-logo;
		font-family: $font-family_1;
	}
	.navbar-nav {
		a { 
			color: $palabras-claras;
		}
		.nav-link {
			font-size: 1.7rem;
			font-weight: 500;
		}
		.nav-item:hover {
			transform: scale(1.1); 
			transition: transform 0.5s ease;
		}
		.nav-item {
			padding-right: 1rem;
		}
	}
	button {
		background-color: $palabras-claras;
	}
	.collapse {
		z-index: 2;
	}
	@media (max-width: 580px){
		.navbar-brand {
			width: 85%;
		}
	}
	@media (max-width: 334px){
		.navbar-brand {
			width: 82%;
		}
	}

}