.map-container {
    width: 70%;
    padding-top: 3rem;
    .texto-map {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, $fondo-logo 0px 0px 0px 3px;
    }
    h3 {
        text-align: center;
        color: $fondo-logo;
        font-family: $font-family_1;
        font-weight: 600;
        font-size: 2.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .map {
        text-align: center;
        padding-bottom: 4rem;
        iframe {
            width: 100%;
        }
    }
}