header {
	background-color: $background-color_2;
}
.nav-bar-color {
	background-color: $background-color_2;
}
.dropdown {
	background-color: $background-color_2;
}
.dropdown-menu {
	background-color: $background-color_2;
	li {
		a {
			color: $color_1;
		}
	}
}
.navbar-toggler-icon {
	color: $color_1;
}
.navbar {
	padding: 0;
	border: 8px solid var(--fondo-logo);
	.navbar-nav {
		.nav-link {
			color: $color_1;
		}
	}
}
.navbar-toggler {
	border: var(--bs-border-width) solid var(--palabras-claras);
	color: $color_1;
	background-color: $background-color_3;
}