.productos-grid {
	list-style: none;
	background-color: $fondo-logo;
	padding-top: 5rem;
	li {
		margin-bottom: 5rem;
		margin: 0,5rem;
	}
	ul {
		justify-content: space-between;
	}
	.ver-mas {
		margin-top: 3rem;
		a {
			margin-top: 10px;
			font-family: $font-family_2;
			color: $palabras-claras;
			background-color: $fondo;
			text-decoration: none;
			border: 3px solid $fondo-logo;
			padding: 1rem;
			margin-bottom: 2rem;
		}
	}
}
.productos-list-grid {
	a {
		text-decoration: none;
		color: $palabras-claras;
	}
	.card {
		background-color: $fondo;
		color: $palabras-claras;
	}
	img {
		width: 100%;
		height: 20rem;
	}
}