.empleados-list-grid {
	li {
		list-style: none;
		font-family: $font-family_2;
	}
}
.video-grid-container {
	padding-bottom: 4rem;
}
.video {
	border: 1rem outset var(--fondo-logo);
	width: 80%;
	height: auto;
	margin-bottom: 4rem;
}
.caja {
	font-family: $font-family_1;
	color: $color_1;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	background: var(--fondo-logo);
	margin: 0 0 25px;
	overflow: hidden;
	padding: 20px;
	border-radius: 35px 0px 35px 0px;
	-moz-border-radius: 35px 0px 35px 0px;
	-webkit-border-radius: 35px 0px 35px 0px;
	border: 2px solid var(--palabras-claras);
	max-width: 60%;
	margin: 0 auto;
}